<%- include("../partials/_header") %>
<h1>Watched Movies</h1>
<% if (movies && movies.length > 0) { %>
<div class="movie-grid">
  <% movies.forEach(movie => { %>
  <div class="movie-card">
    <% if (movie.picture) { %>
    <img
      src="<%= movie.picture %>"
      alt="<%= movie.title %>"
      class="movie-poster"
    />
    <% } %>
    <h3><%= movie.title %></h3>
    <p><%= movie.description %></p>
    <form action="/users/<%= user._id %>/remove/<%= movie._id %>" method="POST">
      <input type="hidden" name="listType" value="watched" />
      <button type="submit" class="btn-remove">Remove</button>
    </form>
  </div>
  <% }) %>
</div>
<% } else { %>
<p>You haven't watched any movies yet.</p>
<% } %>
<a href="/users/<%= user._id %>" class="btn-back">Back to Profile</a>
<%- include("../partials/_footer") %>
